.status{
    background-color: #C0C0C0;
    position: absolute;
    left: -7px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status .status-text{
    color: white;
    padding: 5px 0;
    font-size: 22px;
}
.mb{
    padding-bottom: 30px;
    transition: 0.4s;
}
.total-amount{
    position: absolute;
    right: 35px;
    font-size: 14px;
}
.total-amount span{
    font-size: 11px;
}