.merchantlanding-calender-content {
    padding: 10px 0 40px 0;
}

.merchantlanding-calender-item {
    display: flex;
    background: #fff;
    border-left: 7px solid #FF9900;
    padding: 10px 13px;
    justify-content: left;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
    position: relative;
}
.merchantlanding-calender-item + .merchantlanding-calender-item {
    margin-top: 15px;
}
.hover-function{
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
}
.hover-function.active{
    opacity: 1;
    visibility: visible;
}

.merchantlanding-calender-item .hover-function-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: -7px;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}



.merchantlanding-calender-item .hover-function-inner .hover-link{
    color: #FFA31A;
    font-family: 'Lemon Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}
.merchantlanding-calender {
    text-align: left;
    margin: 0 10px;
}
.merchantlanding-calender .monthName {
    font-size: 20px;
    margin: 10px 0;
}
.merchantlanding-calender .datePicker{
    display: flex;
    justify-content: space-between;
}
.merchantlanding-calender .date_single_item{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 14.28%;
}
.merchantlanding-calender .date_single_item a{
    cursor: pointer;
}
.merchantlanding-calender .date_single_item .selected_date{
    background: #3F1569;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.merchantlanding-calender .datePicker .dayName{
    color: gray;
}

.merchantlanding-calender-result {
    border-top: 1px solid #C4C4C4;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
}
.merchantlanding-calender-datetime {
    font-family: 'Lemon Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #3F1569;
    text-align: left;
    padding: 20px 0 10px 0;
}

.merchantlanding-calender-itemleftpart {
    /* padding: 0 15px 0 0;
    flex-basis: 90px; */
    width: 30%;
}
.merchantlanding-calender-itemleftpart h5 {
    margin: 0;
    padding: 0;
    font-family: 'Lemon Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.merchantlanding-calender-itemleftpart p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Lemon Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #898989;
}

.merchantlanding-calender-itemrightpart {
    width: 70%;
}
.merchantlanding-calender-itemrightpart h3 {
    margin: 0;
    padding: 0;
    font-family: 'Lemon Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    text-align: left;
}
.merchantlanding-calender-itemrightpart p {
    margin: 0;
    padding: 0;
    font-family: 'Lemon Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #898989;
    text-align: left;
}
.merchantlanding-calender-upnext {
    text-align: left;
    padding: 0 0 5px 0;
}
.merchantlandingpage-container{
    position: relative;
}
.merchantlanding-calender-upnext span {
    display: inline-block;
    background: #FF9900;
    border-radius: 15px;
    padding: 3px 14px;
    border: none;
    font-family: 'Lemon Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.merchantlanding-calender-upnext button:hover {
    background: #000;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.scrollable-con{
    display: flex;
    overflow-x: auto;
}
.scrollable-con::-webkit-scrollbar{
    display: none;
}






